# Python bytecode:
*.py[co]
.ropeproject/

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule

#cached stuff
artsite/media/cache
artsite/static/cache


.idea/
*.bak

