{% load i18n sekizai_tags %}

<!DOCTYPE html>
<html>
  <head>
    <title>John O'Connor</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.5,user-scalable=no">

    <!--// Fonts //-->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Libre+Baskerville|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>


    {% block css %}<link href="{{ STATIC_URL}}css/style.css" media="only screen and (min-device-width:480px)" rel="stylesheet" type="text/css" />{% endblock %}
    {% block js_head %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=0.90" />

    {% block analytics %}{% endblock %}
  </head>

  <body {% block extra_body %}{% endblock %}>

    <!--// Main Content -->
    <div id="content">

  		<div id="site-contact">
        <p>John O'Connor is located in Queens, New York City, New York</p>
        <p>Represented by:&#160;<a href="http://wwww.pierogi2000.com/">Pierogi Gallery</a>, 177 North 9th Street  Brooklyn, NY 11211</p>
      </div>

      <!--// Main Menu -->
      <div id="menu" class="section">
      <div class='article'>

          <h1><a href="/">John O'Connor</a></h1>

          <ul id="work_categories" class="menu_list">
            <li><a href="">Large Works</a></li>
            <li><a href="">Small Works</a></li>
            <li><a href="">Drawings</a></li>
            <li><a href="">Installations</a></li>
          </ul>

          <ul id="subsections" class="menu_list">
            <li><a href="">News</a></li>
            <li><a href="">Resume</a></li>
            <li><a href="">Bibliography</a></li>
          </ul>

      </div>
  </div>

      {% block content %}{% endblock %}


    </div>
  
  {% block js_footer %}{% endblock %}
  
  {% block analytics_footer %}
  

  {% endblock %}

  </body>
</html>
