{% extends "base.html" %}

{% load thumbnail %}

{% block extra_body %}id="chat"{% endblock %}

{% block menu %}<!-- \\ no menu // -->{% endblock %}

{% block content %}

<div id="bigChat">

	<div id="chatCanvas">


	</div>

	<div id="chatControlsWrapper">
		<div id="chatControls">
			<form name="big_chat" id="big_chat_form">
				<input type="text" class="chatInput reallyBig" name="chat_input" /> <input type="submit" class="btn" name="Send" />
			</form>
		</div>
	</div>


</div>

{% endblock %}