{% extends "base.html" %}

{% load thumbnail %}

{% block extra_body %}class="gallery {{ category.slug }}" id="category-landing"{% endblock %}

{% block content %}

<div class="contentWrapper">

  <h3>{{ category.name }}</h3>
  
  {% for work in works %}

  <div class="section">
    <div class='article'>
      <div class="relative">

            {% thumbnail work.image "x404" as im %}
            <a href="/{{category.slug}}/{{ work.slug }}"><img src="{{ im.url }}"></a>
            {% endthumbnail %}

            <div class='caption'>
                  <strong>{{ work.name }}</strong> <br> <em>{{ work.series.date_created }}</em>
            </div>

        </div>
      </div>

  </div>

  {% endfor %}
</div>

{% endblock %}








