{% extends "base.html" %}

{% load thumbnail %}

{% block extra_body %}class="gallery" id="series-landing"{% endblock %}

{% block content %}

{% for work in works %}

<div class="section">
	<div class='article'>
 		<div class="relative">

	    	<div class="hp-item">

	    		{% thumbnail work.image "x404" as im %}
				<a href="{{ work.image.url }}"><img src="{{ im.url }}"></a>
				{% endthumbnail %}

		    	<div class='caption'>
		        		<strong>{{ work.name }}</strong> <br> <em>{{ work.series.date_created }}</em>
		      	 </div>
		    	<!-- Start Content -->
		        <div class="contentArea hide">
		        	<div class="side_a">
		            	<img title="{{ work.name }} - Image" alt="{{ work.name }}" src="{{ work.image.url }}" height="{{ work.image.height_field }}" width="{{ work.image.width_field }}" />
		            </div>

		            <div class="side_b">
		            	<!--// text info here -->
		            	<p><strong>{{ work.name }}</strong></p>
		            </div>
		        </div>
		        <!-- End Content -->

        	 </div>
    	</div>
    </div>

</div>

{% endfor %}

<button class="close hide">&times;</button>

{% endblock %}