{% extends "base.html" %}

{% block extra_body %}class="gallery" id="series-landing"{% endblock %}

{% block content %}

{% for work in works %}

<div class="section">
		<div class='article'>
 		<div class="relative">

	    	<div class="hp-item">
		    	<img class="previewImg" src="http://placehold.it/394x470/e1e1e1/000000&text={{ work.name }}">
		    	<div class='caption'>
		        		<strong>{{ xseries.name }}</strong> <br> <em>{{ xseries.date_created }}</em>
		      	 </div>
		    	<!-- Start Content -->
		        <div class="contentArea hide">

		                    <img title="{{ work.name }} - Image" alt="{{ work.name }}" src="{{ work.image.url }}">

		        </div>
		        <!-- End Content -->

        	 </div>
    	</div>
    </div>

</div>

{% endfor %}

<button class="close hide">&times;</button>

{% endblock %}