{% extends "base.html" %}

{% load thumbnail %}

{% block extra_body %}class="gallery" id="series-landing"{% endblock %}

{% block content %}

<div class="section">
	<div class='article'>
 		<div class="relative">

	    	<div class="hp-item">
		    	<!-- Start Content -->
		        <div class="contentArea hide">
		        	<div class="side_a">
		        		{% thumbnail work.image "x1000" as big_im %}
		            	<img title="{{ work.name }} - Image" alt="{{ work.name }}" src="{{ big_im.url }}"  />
		            	{% endthumbnail %}
		            </div>

		            <div class="side_b">
		            	<div class="inner-container">
		            		<!--// text info here -->
		            		<p><strong>{{ work.name }}</strong></p>
		            	</div><!--// end .inner-container -->
		            </div>
		        </div>
		        <!-- End Content -->

        	 </div>
    	</div>
    </div>

</div>


<a href="/{{ category.slug }}" class="close hide">&times;</a>

{% endblock %}