body {
  text-align: left;
  line-height: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
  background-color: #ecebe8;
  color: #000;
  font-size: 14px;
}

body a {
  color: #000;
  text-decoration: none;
}

h1,
h2 {
  font-family: 'Libre Baskerville', serif;
}

h1 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 18px;
}

.navigation {
  left: 0;
  top: 0;
  width: 144px;
  text-align: center;
  bottom: 0;
  height: 100%;
  position: fixed;
  display: table;
}
.navigation .contents {
  padding: 18px;
  display: table-cell;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.6);
}
#site-title {
  position: fixed;
  top: 18px;
  left: 18px;
}
#site-title h1 {
  font-size: 18px;
}
#site-title a {
  text-decoration: none;
}
#site-contact {
  display: block;
  z-index: 99;
  position: fixed;
  padding: 18px;
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  left: 0;
  color: #787878;
}
#site-contact a {
  color: #787878;
}

#site-contact p {
  margin: 0;
}

#content {
  padding: 0;
  margin: 144px 0;
  display: block;
  height: 90%;
  width: 100%;
  min-width: 640px;
  white-space: nowrap;
}


#content h1 {
  font-size: 36px;
  font-weight: normal;
}

#content #menu h1 a {
  text-decoration: none;
}

#content .section {
  max-width: 640px;
  min-width: 320px;
  padding: 0 18px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: normal;
  position: relative;
  /*border: 1px dotted #ccc;*/
}

#content .section img {
  max-height: 402px;
}

#content #menu a {
  text-decoration: none;
}

#content #menu a:hover {
  text-decoration: underline;
}

#content #menu ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

#content #menu ul#subsections {
  margin-top: 30px;
}

#content .section .relative {
  position: relative;
  height: 420px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

#blog-main #content .section, #resume #content .section {
  border: 1px dotted #ccc;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

#blog-main #content .section .relative, #resume #content .section .relative {
  position: relative;
  height: 420px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-align: start;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: start;
  -moz-box-align: start;
  display: box;
  box-orient: vertical;
  box-pack: start;
  box-align: start;
}

#blog-main #content .section .relative h2 a {

}

#content #menu.section .article {
  vertical-align: top;
  text-align: left;
}


#content .section .article {
  height: 420px;
  display: block;
  vertical-align: middle;
  text-align: center;
  max-width: 640px;
  min-width: 400px;
  position: relative;
}
#content .section .caption {
  position: absolute;
  top: 438px;
  text-align: center;
  left: 36px;
  right: 36px;
}
#content .section .caption p {
  margin: 0;
}
#content .section iframe {
  height: 420px;
}
#content .section .shadow,
#content .section iframe,
#content .section img {
  border: 1px solid #ccc;
}
#content .section.large {
  max-width: 960px;
}
#content .section.large .article {
  height: 512px;
  max-width: 960px;
}
#content .section.large .relative {
  height: 512px;
}
#content .section.large .caption {
  top: 530px;
}
#content .section.large img {
  max-height: 512px;
}
.essays {
  text-align: center;
}
.essays .cover img {
  margin: 18px;
}
.essays .essay {
  display: inline-block;
  text-align: center;
}
.essays .essay img {
  margin: 18px;
}

/* ============================================================================== */
/* Content In-Slide CSS
/* ============================================================================== */

.previewContainer {
    background:#e1e1e1;
    text-align:right;
    height:100%;
    overflow-y:scroll;
    position:absolute;
}

.hp-item,
.hp-item .previewImg,
.hp-item .contentArea
{
}

.hp-item {
    display:inline-block;
    -webkit-transition: all 1s ease-in;
    position:relative;
}

.hp-item.offscreen {
    left:-100%;
}

.hp-item.active .previewImg {
    opacity:0;
}

.contentArea {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:black;
    color:#e1e1e1;
}

.contentArea > img {
    margin-top:100px;
}

.close, .social, .mailing-list {
    z-index:1000;
}

.close {
    position:absolute;
    right:80px;
    top:80px;
    opacity:1;
    color:white;
}

/* ============================================================================== */
/* Series Landing // Overlayer Specifics
/* ============================================================================== */

.side_a { float: left; height: 90%; width: 75%; margin: 5% 0;  }
.side_a img { height: 90%; }

.side_b { float: left; height: 90%; width: 15%;  margin: 5% 0; padding-left: 5%; }
.side_b .inner-container { height: 90%; width: 90%; padding: 2%; background: #ecebe8; }
.side_b .inner-container p { color: #424242;}

/* ============================================================================== */
/* Resume
/* ============================================================================== */

#resume .section {
  height: auto;
}

#resume-content h3 {
  width: 200px;

  font-size: 18px;
  font-family: 'Droid Sans', sans-serif;
}

#resume-content ul {
  width: 400px;
}

