body {
  text-align: left;
  line-height: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
  background-color: #ecebe8;
  color: #000;
  font-size: 14px;
}

body a {
  color: #000;
  text-decoration: none;
}

h1,
h2 {
  font-family: 'Libre Baskerville', serif;
}

h1 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 18px;
}

/* ============================================================================== */
/* Global Widgetry
/* ============================================================================== */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* ============================================================================== */
/* Navigation
/* ============================================================================== */

.navigation {
  left: 0;
  top: 0;
  width: 144px;
  text-align: center;
  bottom: 0;
  height: 100%;
  position: fixed;
  display: table;
}
.navigation .contents {
  padding: 18px;
  display: table-cell;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.6);
}
#site-title {
  position: fixed;
  top: 18px;
  left: 18px;
}
#site-title h1 {
  font-size: 18px;
}
#site-title a {
  text-decoration: none;
}
#site-contact {
  display: block;
  z-index: 99;
  position: fixed;
  padding: 18px;
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  left: 0;
  color: #787878;
}
#site-contact a {
  color: #787878;
}

#site-contact p {
  margin: 0;
}

#content {
  padding: 0;
  margin: 144px 0;
  display: block;
  height: 90%;
  width: 100%;
  min-width: 640px;
  white-space: nowrap;
}


#content h1 {
  font-size: 36px;
  font-weight: normal;
}

#content #menu h1 a {
  text-decoration: none;
}

#content .section {
  max-width: 640px;
  min-width: 320px;
  padding: 0 18px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: normal;
  position: relative;
  /*border: 1px dotted #ccc;*/
}

#content .section img {
  max-height: 402px;
}

#content #menu a {
  text-decoration: none;
}

#content #menu a:hover {
  text-decoration: underline;
}

#content #menu ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

#content #menu ul#subsections {
  margin-top: 30px;
}

#content .section .relative {
  position: relative;
  height: 420px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

#blog-main #content .section, #resume #content .section {
  border: 1px dotted #ccc;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

#blog-main #content .section .relative, #resume #content .section .relative {
  position: relative;
  height: 420px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-align: start;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: start;
  -moz-box-align: start;
  display: box;
  box-orient: vertical;
  box-pack: start;
  box-align: start;
}

#blog-main #content .section .relative h2 a {

}

#content #menu.section .article {
  vertical-align: top;
  text-align: left;
}


#content .section .article {
  height: 420px;
  display: block;
  vertical-align: middle;
  text-align: center;
  max-width: 640px;
  min-width: 400px;
  position: relative;
}
#content .section .caption {
  position: absolute;
  top: 438px;
  text-align: center;
  left: 36px;
  right: 36px;
}
#content .section .caption p {
  margin: 0;
}
#content .section iframe {
  height: 420px;
}
#content .section .shadow,
#content .section iframe,
#content .section img {
  border: 1px solid #ccc;
}
#content .section.large {
  max-width: 960px;
}
#content .section.large .article {
  height: 512px;
  max-width: 960px;
}
#content .section.large .relative {
  height: 512px;
}
#content .section.large .caption {
  top: 530px;
}
#content .section.large img {
  max-height: 512px;
}
.essays {
  text-align: center;
}
.essays .cover img {
  margin: 18px;
}
.essays .essay {
  display: inline-block;
  text-align: center;
}
.essays .essay img {
  margin: 18px;
}

/* ============================================================================== */
/* Content In-Slide CSS
/* ============================================================================== */

.previewContainer {
    background:#e1e1e1;
    text-align:right;
    height:100%;
    overflow-y:scroll;
    position:absolute;
}

.hp-item,
.hp-item .previewImg,
.hp-item .contentArea
{
}

.hp-item {
    display:inline-block;
    -webkit-transition: all 1s ease-in;
    position:relative;
}

.hp-item.offscreen {
    left:-100%;
}

.hp-item.active .previewImg {
    opacity:0;
}

.contentArea {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:black;
    color:#e1e1e1;
}

.contentArea > img {
    margin-top:100px;
}

.close, .social, .mailing-list {
    z-index:1000;
}

.close {
    position:absolute;
    right:80px;
    top:80px;
    opacity:1;
    color:white;
}

/* ============================================================================== */
/* Series Landing // Overlayer Layout Specifics
/* ============================================================================== */

.side_a { float: left; height: 90%; width: 75%; margin: 5% 0; text-align: center;  }
.side_a img { }

.side_b { float: left; height: 90%; width: 15%;  margin: 5% 0; padding-left: 5%; }
.side_b .inner-container { height: 90%; width: 90%; padding: 2%; background: #ecebe8; }
.side_b .inner-container p { color: #424242;}

/* ============================================================================== */
/* Series Landing // Overlayer Post/Image Specifics
/* ============================================================================== */
.post_text {
  text-align: center;
  display: table;
}

.index .post  {
  position: relative;
  line-height: 0;
  display: inline-block;
  vertical-align: bottom;
}

.post_text_table_cell {
  display: table-cell;
  vertical-align: middle;
}

.post_text_table_cell p {
  padding:0;
  margin:0;
  display: inline;
}

.post_text_body {
  padding-bottom: 4px;
}

#post_permalink {
  display: block;
}

#post_permalink_inner {
  display: table-cell;
  vertical-align: middle;
}

.perma .post  {
  display: table;
  text-align: center;
  height: 100%;
  width:100%;
}

.post_text_perma  {
  text-align: center;
  width:100%;
}

.post_options {
  width: 0;
  height: 0;
}

.post_margin_adjustment  {
  margin-right: -4px;
}

.index .post_relative  {
   position: relative;
  overflow:hidden;
}

.post_relative img  {
  cursor: pointer;
}

.desktop.index .type_photoset  {
   left: -7px;
  top: -7px;
  margin-left: 7px;
  margin-top: 7px;
}

.perma .type_photoset  {
  padding-top: 50px;
}

.perma .type_photoset  {
  padding-bottom: 100px;
}

.post_options {
  position: absolute;
  top:0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.post_info_overlay  {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  text-align: left;
  z-index: 9999;
}

.post_info_overlay_absolute  {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20000;
}

.post_info_overlay_table  {
  display:table;
  width: 100%;
  height: 100%;
}

.post_info_overlay_cell  {
  display:table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.post_info_overlay_background {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.post_info_overlay_headline p  {
  width: 85%;
  text-decoration: none;
  text-align: center;
  margin: 0 auto 0 auto;
  line-height: normal;
  display: block;
  margin-bottom: 20px;
}

.post_info_overlay_headline a {
  padding-bottom: 2px;
  margin-bottom: 7px;
}

.post_info_overlay_tags {
  width: 70%;
  margin: 0 auto 0 auto;
  line-height: normal;
}

.post_info_overlay_tags_inline_nest  {
  position:relative;
  display:block;
  width:100%;
  height:100%;
}

.post_info_overlay_tags a,  .BackgroundColouredBT {
  display: inline-block;
  vertical-align: bottom;
}

.post_info_overlay_button,  .notes_tag_button,  .notes_date_span {
  text-transform: capitalize;
  position: relative;
  z-index: 110000;
  padding: 5px 9px;
  margin: 0 3px 3px 0;
}

.type_source {
  text-transform: none;
}

.tagBackground, tagBackgroundPerma {
  position: absolute;
  z-index: 100000;
  display:block;
  top:0;
}

.reblogCredit  {
  text-transform: capitalize;
}

.post_info_overlay_options {
  display: table;
  margin: 0 auto 0 auto;
  padding: 0;
  border: none;
}

.post_info_overlay_options_button {
  display: table-cell;
  padding: 5px;
  padding-top: 30px;
  vertical-align: baseline;
  cursor: pointer;
  text-transform: capitalize;
}

.post_info_overlay_options_button:hover  {
  cursor: pointer;
}

.post_text_title_perma {
  margin-bottom: 100px;
  display: inline;
}

.post_perma_inner {
  padding: 60px 0;
  background-color: transparent;
  text-align: left;
  margin:0 auto;
}

.perma .post_audio {
  margin:0 auto;
  max-width: 500px;
}

.post_perma_inner blockquote {
  font-style: italic;
  padding: 0 20px;
  max-width: 500px;
}

.post_perma_inner strong {
  font-weight: bold !important;
}

#post_text_body_perma,  #chat_body_post_perma {
  margin-top: 40px;
  margin-bottom: 10px;
}



/* ============================================================================== */
/* Resume
/* ============================================================================== */

#resume-content #container {
  /* either of these will work for horizontal Isotope layouts */
  height: 80%;
}

#resume-content #container .item {
  width: 300px;
  margin: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}



#resume .section {
  height: auto;
}

#resume-content h2 {
  clear: both;
  margin-top: 60px;
}

#resume-content h2:first-child {
  margin-top: 20px;
}

#resume-content h3 {
  width: 50px;
  float: left;
  clear: left;
  margin: 0;
  padding: 0;
  vertical-align: text-top;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Droid Sans', sans-serif;
}

#resume-content #container .item ul {
  margin: 0 0 20px 10px;
  padding: 0;
  width: 290px;
  float: left;
}

#resume-content #container .item li {
  width: 290px;
}

#resume-content .section ul:after {
  content: "";
  display: table;
  clear: both;
}

#resume-content hr {
  float: left;
  clear: both;
  width: 500px;
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  margin: 10px 0 20px;
}


